@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container{
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    height:100vh;
    background-size: cover;
}
.top-section{
    padding: 50px;
}
.top-section-heading{
    font-size: 30px;
    color: white;
    font-family:"Bree Serif";
}
.top-section-para{
    width: 70vw;
    font-size: 15px;
    color: white;
    font-family:"Bree Serif";
}
.bottom-section{
    margin: 25px;
}
.card{
    height: 30vh;
    border-radius: 20px;
    background-size: cover;
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/moon-bg.png");
}
.card-heading{
    color: white;
    font-family: "Bree Serif";
    font-size: 34px;
    width: 90vw;
    padding: 70px;
}
.bottom-section-para{
    font-family: "Bree Serif";
    color: white;
}
.button{
    font-family: "Bree Serif";
    background-color: #8e97fd;
    color: white;
    width: 30vw;
    border-radius: 20px;
}
.cloud-image{
    height:35vh;
    width: 100vw;
}
.main-content{
    margin: 15px;
}
.main-heading{
    color: white;
    font-family: "Bree Serif";
    font-size: 30px;
    width: 90vw;
}
.para-1{
    font-family: "Bree Serif";
    color: #98a1bd;
}
.heading-2{
    font-size:18px;
    font-family: "Bree Serif";
    color: white;
}
.sub-section{
    margin: 5px;
}
.image{
    height: 15vh;
    width: 10vw;
}
.sub-card-heading{
    font-size:17px;
    font-family: "Bree Serif";
    color: white;
}
.sub-card-para{
    font-size:15px;
    font-family: "Bree Serif";
    color: #98a1bd;
}